* {
    font-family: 'Noto Sans KR', sans-serif;
}

.title {
    font-size: 18pt;
    font-weight: 500;
}

.address {
    font-weight: 300;
}

.tag {
    font-size: 10pt;
    background-color: #E6E6E6;
    padding: 5px;
    border-radius: 5px;
}

.like {
    height: 30px;
}

.like-btn {
    text-decoration:none;
}

.tag-like {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.store-thumnail {
    height: 300px;
    object-fit: cover;
}
