/* 배너 */
.banner {
    background-image: url("https://images.unsplash.com/photo-1626844223006-ce12691d2b17?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2787&q=80");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 400px;

    color: white;
    font-size: 23px;
    text-align: center;
}

.blur {
    /* -webkit-backdrop-filter: blur(5px); */
    backdrop-filter: blur(2px);
    height: 400px;
    padding-top: 100px;
}

.banner h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.banner p {
    font-size: 14pt;
    margin-bottom: 5px;
}
/* 카테고리 */
.category {
    margin-top: 40px;
    width: 100%;
    height: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    
}

.btn {
    padding: 6px 13px 6px 13px;
    margin-left: 20px;
    border-radius: 20px;
}

/* 카드뷰 */
.card {
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.store-thumbnail {
    height: 300px;
    object-fit: cover;
    border-radius: 40px;
}

.title {
    font-size: 18pt;
    font-weight: 500;
}

.like {
    height: 30px;
}

.like-btn {
    text-decoration:none;
}

.title-like {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.address {
    font-weight: 300;
}

.tag {
    font-size: 10pt;
    background-color: #E6E6E6;
    padding: 5px;
    border-radius: 5px;
}

/* 게시글 작성 버튼 */
.float {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 5px 10px #999;
    padding-top: 10px;
}

.bi-pen {
    font-size: 28pt;
    color: black;
}