.page-title {
  font-weight: 700;
}

.container {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 800px;
}

.card {
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  padding: 50px;
}

.card label {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.card input,
.card select {
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

label {
  font-weight: bold;
}

.btn {
  border-radius: 30px;
}