<html>

<head>
    <title>상세정보</title>
    <!-- BootsStrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/default.css" type="text/css">
    <link rel="stylesheet" href="/static/css/detail.css" type="text/css">
</head>

<body>
    <div class="page-top">
        <h1 class="page-title">상세 정보확인</h1>
        <div class="btn-group">
            <button onclick="location.href ='/'" class="btn btn-outline-dark active" aria-current="page" id="1">뒤로</button>
            <button onclick="update_view({{data}});" class="btn btn-outline-dark" id="2">수정</button>
            <button onclick="delete_view({{data}});" class="btn btn-outline-dark" id="3">삭제</button>
        </div>
    </div>
    <div class="card card-box post-part" id="{{ data['num']}}">
        <div class="row g-0">
            <div class="col-md-4 p-4">
                <img src="{{ data['img_url'] }}" class="store-img img-fluid" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body h-100 p-4">
                    <div>
                        <div class="title-category">
                            <span class="info-title me-4">{{ data['title'] }}</span>
                            <span class="info-category">{{ data['category'] }}</span>
                        </div>
                        <p class="info-address mb-4">{{ data['address'] }}</p>
                        <p class="info-comment">{{ data['comment'] }}</p>
                    </div>
                    <div class="tag-like">
                        <div class="">
                            {% for tag in data['tags'] %}
                            <span class="tag">{{ tag }}</span>
                            {% endfor %}
                        </div>
                        <div class="">
                            <a class="like-btn">
                                {% if data['like'] == 0 %}
                                <img class="like" src="/static/images/heart-light.png">
                                {% else %}
                                <img class="like" src="/static/images/heart-fill.png">
                                {% endif %}
                            </a>
                            {{ data['like'] }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="card card-box mt-4">
        <div class="card-body reply-part p-4">
            <p class="info-title">댓글</p>
            <div class="row justify-content-center pt-3">
                <div class="col">
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id="reply"></textarea>
                        <label for="reply">댓글 남겨주세요 >3< </label>
                    </div>
                </div>
                <button onclick="save_reply({{data['num']}})" type="button" class="btn btn-dark col-2 me-2">
                    댓글 남기기
                </button>
            </div>
            <div class="row justify-content-center pt-3 px-0" id="reply-list">
                {% for reply in data['reply'] %}
                <div class="row mt-2 px-0">
                    <div class="card col mx-2">
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p>{{ reply }}</p>
                            </blockquote>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script src="/static/js/detail.js"></script>
</body>

</html>